/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/
@media screen and (max-width: 1200px) {
    .nav {
        flex: 0.8;
    }
    .content-section__heading {
        padding-top: 30px;
    }
    .feeback {

    }
    .feedback__mark {
     height: 60px;
     width: 60px;  
    }
    .feedback__container {   
     // align-items: start; 
     height: 70%;
     width: 70%;
    }
}
@media screen and (max-width: 1023px) {
    .nav-mobile {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: calc(9 / 16 * 100vw - 20px);
        width: 250px;
        padding: 80px 23px;
        text-align: right;
        .nav__list {
            display: block;
            .nav__item {
                margin-bottom: 10px;
            }
        }
    }
    .header-container {
        z-index: 999;
    }
    .mobile-bar {
        display: block;
        margin: 20px 0px;
        z-index: 99999;
        font-size: 40px;
        i {
            display: none;
            opacity: 0;
            cursor: pointer;
        }
    }
    .nav-mobile.show,
    .mobile-bar i.show {
        display: block;
        opacity: 0;
        animation: fade-in 0.25s linear forwards;
    }
    @keyframes fade-in {
        100% {
            opacity: 1;
        }
    }
    .header-phone {
        display: none;
    }
    .header-container {
        flex-direction: row-reverse;
        height: 70px;
        border: none;
    }
    //content
    .content-section__pagination {
        display: none;
    }
    .content-section {
    }
    .content-section div.intro__cards {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: scroll;
        .intro__card--current,
        .intro__card {
            flex-shrink: 0;
            width: 250px;
            height: 150px;
            padding: 10px;
            margin: 50px 0;
            transform: scale(1);
            text-align: center;
            box-shadow: 1px 5px 70px rgb(240, 235, 235);
            .intro__card-desc {
                -webkit-line-clamp: 3;
            }
        }
    }
    .mobile-arrow-wrapper {
        position: relative;
        z-index: 0;
        .arrow-left,
        .arrow-right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 100px;
            background-color: white;
            i {
                color: orange;
                font-size: 30px;
                cursor: pointer;
            }
        }
        .arrow-right {
            right: -1px;
        }
    }
    .content-section__heading {
        padding-top: clamp(20px, 3vw, 30px);
    }
    .intro .content-section__desc {
        margin: 15px auto 0;
    }

    .feedback__container {
         .feedback__content-thought {
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
     }
    }
    .book {
     height: 150px;
     .book__btn.btn {
          padding: clamp(5px, 1.9vw, 20px) clamp(10px, 3.5vw, 60px) !important;
     }
     margin-bottom: 30px;
    }
    .footer {
          flex-wrap: wrap;
          &__item {
               width: 45%;
               margin-bottom: 20px;
          }
     }
}
@media screen and (max-width: 768px) {
    button.banner__btn.btn {
        padding: 3vw 0;
        width: max(100px, 20vw);
        font-size: 0.7rem;
    }
    .mobile-arrow-wrapper .arrow-left,
    .mobile-arrow-wrapper .arrow-right {
        width: 50px;
    }
    .img-list {
        padding: 0 50px;
    }
    .news {
        padding: 0 50px;
    }
    .news {
        padding: 0 50px;
        grid-template-areas:
            "i1 i1 i2 i2"
            "i4 i4 i4 i5"
            "i6 i6 i6 i6";
        .news__item.news__item,
        .news__item-img.news__item-img {
            aspect-ratio: initial; // = unset trong th nay
        }
        .news__item:nth-child(1),
        .news__item:nth-child(3),
        .news__item:nth-child(5) {
            aspect-ratio: unset;
        }
        .news__item-img.news__item-img,
        .news__item-info {
            height: 100%;
            width: 50%;
            border-radius: 5px 0 0 5px;
        }
        div &__item:nth-child(2),
        div &__item:nth-child(6) {
            flex-direction: row;
        }
    }
    .news-btn {
        margin-top: 10px;
        padding: 15px 25px;
    }
    .footer {
     padding: 0 50px;
    }
}
@media screen and (max-width: 670px) {
     .nav-mobile {
          padding: 10px;
          margin-top: 35px;
     }
     .mobile-bar {
          transform: translate(7px, -7px);
          font-size: 30px;
     }
     .mobile-arrow-wrapper .arrow-left,
     .mobile-arrow-wrapper .arrow-right {
          width: 25px;
     }
     .img-list {
          padding: 0 25px;
     }
     .news {
          padding: 0 25px;
     }
     .feedback__mark {
          display: none;
     }
     .feedback {
          margin: 0 25px;
     }
     .feedback__container {
          height: 100%;
          width: 100%;
     }
     .book {
          flex-direction: column;
          padding: 15px 25px;
          height: auto;
     }
     .book__btn {
          padding: 5px 10px;
     }
     .book__question {
          margin-bottom: 10px;
          font-size: 17px;
     }
     .footer {
      padding: 0px;
      gap: 30px;
     }
     .footer__item-link {
          hyphens: manual;
     }
     .content-section {
          padding-top: 30px;
          padding-bottom: 20px;
     }
     .content-section__desc {
          font-size: 0.8rem;
     }
     .bx-left-arrow:before,
     .bx-right-arrow:before {
          font-size: 1rem;
     }
     .arrow-left {
          transform: translateX(-1px);
     }
}
@media screen and (max-width: 480px) {
    .nav-mobile .nav__list li.nav__item {
        margin-bottom: 2px;
        font-size: clamp(15px, 1vw, 25px);
    }
    .content-section__desc {
        margin: 0 auto 30px;
    }
    .news.news.news {
        all: unset;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "i1 i2"
            "i1 i2";
        gap: 3vw;
        .news__item,
        .news__item-img,
        .news__item-info {
            all: unset;
        }
        .news__item {
            display: none;
            height: 50vw;
            padding: 10px;
            box-shadow: 0 0 20px #eee;
            overflow: hidden;
        }
        .news__item-img {
            display: block;
            height: 50%;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .news__item-info {
            .news__item-title {
                font-size: 14px;
            }
            .news__item-desc {
                font-size: 12px;
            }
        }
        .news__item:nth-child(2) {
            grid-area: i1;
            display: block;
        }
        .news__item:nth-child(6) {
            grid-area: i2;
            display: block;
        }
    }
    .news-btn {
        padding: 10px;
        margin-top: 30px;
    }
    .feedback__container .feedback__content-thought {
     margin-bottom: 5px;
    }
}
