// khai bao function:
@function padding-top($height) {
     @return $height
}

h2 {
     padding-top: padding-top(10rem);
}
$colors: (
     'primary': red,
     'second': blue,
);

h3 {
     color: map-get($colors, 'primary')
}
@debug map-get($map: $colors, $key: 'primary');
@debug map-has-key($map: $colors, $key: 'second')