html {
     font-size: clamp(16px , 15px + 0.390625vw, 21px); // base font size
}
body {
     font-family: "Poppins";
     font-size: inherit;
     line-height: normal;
}
li {
     list-style-type: none;
}
a {
     text-decoration: none;
}
img {
     width: 100%;
     object-fit: cover;
}
*, *::after, *::before {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     padding: 0;
     margin: 0;
}